<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <header>         
      <div class="logo">
      <a href="/"> 
      <img src="" width="70" />
      </a>
    </div>
    <div class="menu" id="menu">
      <ul>
        <li><a href="/">Персонажи</a></li>
        <li><a href="/dracula">Граф дракула</a></li>
        <li><a href="/jelly">Желе</a></li>
        <li><a href="/invisible">Невидимка</a></li>
      </ul>
    </div>
    <div class="tel"><a class="rmenu" href="/exit">Exit</a>
    </div>
  </header>
</header>
<title>

</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script> 
</head>
  </head>
  <body>
    <%- body %>
	</body>
</html>

