<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <header>         
      <div class="logo">
      <a href="/"> 
      <img src="" width="70" />
      </a>
    </div>
    
<div class="menu" id="menu">
      <ul>
        <li><a href="/">Монстры</a></li>
        <li><a href="/heroes/dracula">Граф дракула</a></li>
        <li><a href="/heroes/jelly">Желе</a></li>
        <li><a href="/heroes/invisible">Невидимка</a></li>
      </ul>
    </div>

<div class="tel"><a class="rmenu" href="/exit">Exit</a>
    </div>

    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Монстры</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dracula">Граф дракула</a>
          </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/jelly">Желе</a>
          </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/invisible">Невидимка</a>
          </li>
      </ul>
      </div>
    </div>
  </div>
</nav>

  </header>
</header>
<title>

</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script> 
</head>
  </head>
  <body>
    <%- body %>
	</body>
</html>

