<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.js"></script>
	</head>
	<body>
		<nav role="navigation" class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" datatoggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Все Все Все ...</a>
		</div>

		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Винни Пух</a></li>
				<li><a href="#">Пятачок</a></li>
				<li><a href="#">Иа Иа</a></li>
				<li><a href="#">Кролик</a></li>
				<li><a href="#">Сова</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Войти</a></li>
			</ul>
		</div>
		</nav>
	<%- body %>
	</body>
</html>

