body {
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.logo {
  margin-right: 30px;
}

.menu {
  flex-grow: 1;
}

.menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a,
.menu .active {
  border: 1px solid black;
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;

}

.menu a:hover {

  background-color: rgb(0, 0, 0);
  color: white;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu .active {
  color: #fff;
  background-color: #ff3d00;
  border-radius: 8px;
}

.tel {
  font-size: 20px;
  line-height: 24px;
}

.tel a {
  color: #000;
  text-decoration: none;
} 